:root {
  /* primary text color */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --bg-grad-soft-red: hsl(14, 88%, 65%);
  --bg-grad-soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* neutral text color */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* divider color */
  --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: cover;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  display: grid;
  place-items: center;
  height: 100%;
}
.accordian {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  max-width: 900px;
  height: 50%;
}
.image-container-mobile {
  display: none;
}

.image-container {
  display: flex;
}

.answer {
  display: none;
  padding-top: 1rem;
}
.question {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.faq-item {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 1rem 0;
}
@media screen and (max-width: 768px) {
  .accordian {
    padding: 0 2rem;
    grid-template-columns: auto;
    max-width: 450px;
    height: auto;
  }
  .title {
    text-align: center;
  }
  .image-container {
    display: none;
  }
  .image-container-mobile {
    display: block;
    margin: 0 auto;
    top: -7.5em;
    position: relative;
  }
  .faq {
    padding: 0;
  }
}

.box-icon {
  position: absolute;
  z-index: 1;
  top: 45%;
  transform: translate(-48%, -8%);
}

.icon-container {
  overflow: hidden;
  margin: auto 0;
}
.woman-icon {
  position: relative;
  left: -75px;
}

.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
