@import url("./navbar.css");
:root {
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}
/* font-family: "Barlow", sans-serif; */
/* font-family: "Barlow Condensed", sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  /* font-size: 1.125rem; */
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
.button,
.navbar-item {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}
.tagline {
  display: inline-flex;
}
.tag {
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
  font-weight: 700;
  border-radius: 9999px;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
  text-transform: uppercase;
}

.spaced-text {
  white-space: nowrap;
  font-weight: 400;
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
}
.has-text-gray {
  color: var(--grayish-blue);
}
.detail-header {
  font-size: 2.5rem;
  color: var(--very-dark-blue);
  text-transform: uppercase;
  line-height: 1;
  margin: 1rem 0;
}
.detail-description {
  color: var(--dark-grayish-blue);
  margin: 1rem 0;
}
.cta {
  display: flex;
  align-items: center;
  margin: 3rem 0rem;
}

.button {
  white-space: nowrap;
  text-transform: uppercase;
  border: none;
  background-color: var(--red);
  color: var(--light-grayish-blue);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-size: 0.875rem;
}
.monograph-container {
  display: grid;
}
.monograph-text-container {
  order: 2;
  margin-left: 2rem;
}
.monograph-image {
  transform: translateX(10%);
  margin-bottom: 4rem;
}
@media all and (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
  .detail-header {
    font-size: 4rem;
  }
  .monograph-text-container {
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 60ch;
  }
  .button {
    font-size: 1.5rem;
    padding: 0.75rem 1.25rem;
  }
  .spaced-text {
    letter-spacing: 0.3rem;
  }
}

@media all and (min-width: 1024px) {
  .monograph-container {
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
  }
  .monograph-text-container {
    order: unset;
    margin-left: 8rem;
  }
}
