@import url("./navbar-burger.css");

.show {
  display: block;
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.navbar {
  margin: 1rem;
  position: relative;
}
.navbar-item {
  padding: 1rem 2rem;
}
.navbar-item:not(:last-child) {
  margin: 0;
}
.navbar-end {
  flex-direction: column;
  margin: 1rem;
}
.navbar-menu {
  z-index: 99;
  position: absolute;
  background-color: var(--light-grayish-blue);
  width: 90%;
  top: 200%;
  left: 50%;
  transform: translate(-50%);
}
.dot {
  border-radius: unset;
  height: 1px;
  width: 100%;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 5rem 8rem;
  }

  .navbar-end {
    display: flex;
    align-items: center;
  }

  .navbar-item {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .navbar-item:not(:last-child) {
    margin-right: 3rem;
  }
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--grayish-blue);
    border-radius: 50%;
  }
}
