.h1 {
  font-size: clamp(2rem, 2vw, 3rem);
  margin-bottom: 1.5rem;
}
.h2 {
  font-size: clamp(1.75rem, 2vw, 2rem);
  margin-bottom: 1rem;
}
.h3 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}
.h4 {
  font-size: clamp(1.125rem, 2vw, 1.25rem);
}
.text-wrapper,
.links {
  text-align: center;
}
.title,
.link {
  color: var(--dark-grayish-blue);
}
.description {
  color: var(--grayish-blue);
  font-size: 1rem;
}
