:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--light-grayish-blue);
}

.container {
  height: 100%;
  display: grid;
  place-items: center;
}

.card {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: white;
  max-width: 750px;
  box-shadow: 5px 5px 20px hsl(0deg 0% 50% / 10%);
  border-radius: 1rem;
}
.image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem 0 0 1rem;
}

.detail-content {
  padding: 1rem 1.5rem;
}
.avatar {
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.title {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
}
.description {
  margin: 1rem 0;
  color: var(--desaturated-dark-blue);
}

.name,
.share-btn {
  color: var(--very-dark-grayish-blue);
}
.date {
  color: var(--grayish-blue);
}

.icon {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.share-btn {
  border-radius: 50%;
  margin-left: auto;
  width: 1.3em;
  height: 1.3em;
  z-index: 999;
}
.share-btn:hover {
  background-color: var(--desaturated-dark-blue);
  color: white;
}

.profile {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 1rem 1.5rem;
}

.share-text {
  letter-spacing: 5px;
  font-size: 22px;
  color: white;
  font-weight: 500;
}

.share-tooltip {
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  position: absolute;
  padding: 1rem 2rem;
  visibility: hidden;
  transform: translate(90%, -100%);
  border-radius: 1rem;
}

.share-tooltip::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  left: 45%;
  transform: rotate(45deg);
  background-color: var(--very-dark-grayish-blue);
}

.share-tooltip > *:not(:last-child) {
  margin-right: 1rem;
}

.tooltip-icon {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 768px) {
  .image {
    border-radius: 1rem 1rem 0 0;
  }
  .card {
    width: 90%;
    max-width: 450px;
    grid-template-columns: 1fr;
    border-radius: 1rem;
  }

  .share-tooltip {
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    left: 0;
    transform: unset;
  }
  .share-tooltip::after {
    content: none;
  }
}

.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}
