@import url("./navbar.css");
@import url("./footer.css");
:root {
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
body {
  height: 100vh;
}

h2,
h3 {
  color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}
p {
  color: var(--very-dark-grayish-blue);
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

.landing {
  border-bottom-left-radius: 5rem;
  background: linear-gradient(
    90deg,
    rgba(255, 143, 112, 1) 0%,
    rgba(255, 61, 84, 1) 100%
  );
}

.show {
  display: block;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  color: white;
}

.is-light {
  background-color: var(--white);
  color: var(--light-red);
}

.is-outline {
  border: 1px solid var(--white);
}

a {
  text-decoration: none;
}
.rotate-180 {
  transform: rotate(180deg);
  transform-origin: center center;
}

.arrow {
  background-image: url("../images/icon-arrow-light.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 10px;
  height: 8px;
}
.editor {
  position: relative;
  padding: 200px 0;
  overflow-x: hidden;
}
.editor-header {
  text-align: center;
  font-size: 32px;
}
.editor-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 0 5rem;
  align-items: center;
}

.editor-image {
  position: relative;
  top: 0;
  right: -20.5rem;
}
.has-text-white {
  color: var(--white);
}
.detail {
  margin-bottom: 3rem;
}
.detail-header {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1rem;
}
.detail-description {
  font-weight: 400;
}

.phones {
  background: linear-gradient(to right, #25252d, #3f4164);
  border-radius: 0 100px 0 100px;
  padding: 8rem 0;
}

.phones-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  margin: 0 5rem;
  justify-content: space-between;
}

.phones-image-container {
  position: relative;
}

.phones-image {
  background: url("../images/bg-pattern-circles.svg") no-repeat center -50px / cover;
  position: absolute;
  top: -300px;
}

.phones-text {
}
.phones-text > * {
  color: var(--white);
}
.laptop {
  padding: 200px 0;
}
.laptop-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
.laptop-image-container {
  position: relative;
}

.laptop-image {
  position: relative;
  left: -17rem;
  top: 0;
}

@media screen and (max-width: 768px) {
  .arrow {
    background-image: url("../images/icon-arrow-dark.svg");
  }
  .editor,
  .phones,
  .laptop {
    text-align: center;
  }
  .editor-text {
    order: 2;
  }
  .editor-image-container,
  .laptop-image-container {
    position: static;
  }
  .editor-content,
  .laptop-container,
  .phones-container {
    grid-template-columns: 1fr;
  }
  .phones-image {
    transform: translateY(-20rem);
  }
  .laptop-text {
    grid-area: unset;
  }
}
