@import url("./component.css");
:root {
  /* primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --white: hsl(0, 0%, 100%);
  /* toggle theme */
  --toggle-dark: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toggle-white: hsl(230, 22%, 74%);
  /* neutral */
  --dt-bg-very-dark-blue: hsl(230, 17%, 14%);
  --dt-bg-top-very-dark-blue: hsl(232, 19%, 15%);
  --dt-bg-card-desaturated-blue: hsl(228, 28%, 20%);
  --dt-text-desaturated-blue: hsl(228, 34%, 66%);
  --wt-bg-top-very-pale-blue: hsl(225, 100%, 98%);
  --wt-bg-card-light-grayish-blue: hsl(227, 47%, 96%);
  --wt-text-dark-grayish-blue: hsl(228, 12%, 44%);
  --wt-text-very-dark-blue: hsl(230, 17%, 14%);

  /* default colors */
  --bg-color: var(--dt-bg-very-dark-blue);
  --heading-color: var(--white);
  --text-color: var(--dt-text-desaturated-blue);
  --card-color: var(--dt-bg-card-desaturated-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
}

.white-mode {
  --bg-color: var(--white);
  --heading-color: var(--wt-text-very-dark-blue);
  --text-color: var(--wt-text-dark-grayish-blue);
  --card-color: var(--wt-bg-card-light-grayish-blue);
}

.title {
  color: var(--heading-color);
  font-size: 1.5rem;
}
.social-overview-header {
  color: var(--heading-color);
}

.container {
  max-width: 70rem;
  margin: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dt-text-desaturated-blue);
  margin: 1rem 0;
}

.green {
  color: var(--lime-green);
  font-weight: 700;
}
.red {
  color: var(--bright-red);
  font-weight: 700;
}
.subtitle,
.tag,
.text {
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.875rem;
}
.tag {
  margin-left: 0.5rem;
}
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.number,
.small-number {
  color: var(--heading-color);
  font-weight: 700;
}
.social-dashboard,
.social-overview {
  display: grid;
  gap: 1rem;
}
.social-card-big {
  border-radius: 0.5rem;
  background-color: var(--card-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}
.social-overview-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.social-top,
.social-bottom {
  display: flex;
  align-items: center;
}
.social-middle {
  padding: 1rem 0;
}
.number {
  font-size: 3rem;
}
.spaced-text {
  text-transform: uppercase;
  color: var(--dt-text-desaturated-blue);
  letter-spacing: 0.2rem;
  font-size: 0.875rem;
}
.social-card-small {
  border-radius: 0.5rem;
  background-color: var(--card-color);
  padding: 1rem;
  width: 100%;
}
.social-overview-top,
.social-overview-bottom {
  display: flex;
  justify-content: space-between;
}
.social-overview-top {
  margin-bottom: 1rem;
}

.icon-text {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
}
.small-number {
  font-size: 1.5rem;
}
.twitter::before,
.facebook::before,
.instagram::before,
.youtube::before {
  content: "";
  height: 4px;
  width: 100%;
  transform: translateY(-15px);
  border-radius: 1rem 1rem 0 0;
}

.twitter::before {
  background-color: var(--twitter);
}
.facebook::before {
  background-color: var(--facebook);
}
.instagram::before {
  background: var(--instagram);
}
.youtube::before {
  background-color: var(--youtube);
}
@media all and (min-width: 768px) {
  .divider {
    display: none;
  }
  .container {
    margin: 2rem 2rem;
  }
  .social-dashboard,
  .social-overview {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 1440px) {
  .social-dashboard,
  .social-overview {
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .container {
    margin: 2rem auto;
  }
}
