@import url("component.css");
@import url("navbar.css");
@import url("typography.css");
:root {
  --bg-intro: hsl(217, 28%, 15%);
  --bg-main: hsl(218, 28%, 13%);
  --bg-main: hsl(216, 53%, 9%);
  --bg-testimonial: hsl(219, 30%, 18%);
  --grad-cyan: hsl(176, 68%, 64%);
  --grad-blue: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Raleway", sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
