@import url("./navbar-menu.css");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  padding: 1rem 1.5rem;
}
.logo-container {
  width: 70%;
}
.navbar-end {
  display: flex;
}
.navbar-item {
  font-size: 0.875rem;
  white-space: nowrap;
  display: inline;
  padding: 0.5em;
}

@media all and (min-width: 768px) {
  .navbar {
    padding: 5rem 4rem;
  }
  .navbar-item {
    font-size: 1rem;
    padding: 1em;
  }
  .logo-container {
    width: 100%;
  }
}
